<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%7r] %6p - %t - %30.30c - %m \n" />
		</layout>
	</appender>
	
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<param name="file" value="${system.log.path}/sysmanm-web.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%7r] %6p - %t - %30.30c - %m \n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<!--<param name="LevelMax" value="FATAL "/> -->
		</filter>
	</appender>
	
	<appender name="FILE-DEBUG" class="org.apache.log4j.FileAppender">
        <param name="Append" value="false"/>
        <param name="file" value="${system.log.path}/sysmanm-web.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%7r] %6p - %t - %30.30c - %m \n"/>
        </layout>
    </appender>

	<appender name="FILE_CONTROLLER_ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<param name="file" value="${system.log.path}/sysmanm-web.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%7r] %6p - %t - %30.30c - %m \n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<!--<param name="LevelMax" value="FATAL "/> -->
		</filter>
	</appender>

	<appender name="FILE-SQL" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="file" value="${system.log.path}/sysmanm-web.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%7r] %6p - %t - %30.30c - %m \n" />
		</layout>
	</appender>

	<logger name="org.apache.ibatis" additivity="false">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE-SQL" />
	</logger>
	<logger name="org.mybatis.spring" additivity="false">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE-SQL" />
	</logger>
	<logger name="java.sql" additivity="false">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE-SQL" />
	</logger>
	
	<logger name="com.dongnao" additivity="false">
		<level value="info" />
		<appender-ref ref="FILE-DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<root>
		<priority value="error" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</log4j:configuration>
